@{
}

@model Order

<h2>Check Out Now</h2>
<p>Please enter the following information:</p>

<form method="post" asp-controller="Order" asp-action="Checkout">
    
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <h4>Contact Information</h4>

    <div class="form-group">
        <label asp-for="Name">Name: </label><input asp-for="Name" class="form-control" />
        <label asp-for="PhoneNumber">Phone Number: </label><input asp-for="PhoneNumber" class="form-control" />
        <label asp-for="Email">Email Address: </label><input asp-for="Email" class="form-control" />
    </div>

    <br />

    <h4>Address</h4>

    <div class="form-group">
        <label asp-for="AddressLine1">Address Line 1: </label><input asp-for="AddressLine1" class="form-control" />
        <label asp-for="AddressLine2">Address Line 2: </label><input asp-for="AddressLine2" class="form-control" />
        <label asp-for="City">City: </label><input asp-for="City" class="form-control" />
        <label asp-for="State">State: </label><input asp-for="State" class="form-control" />
        <label asp-for="Zipcode">Zipcode: </label><input asp-for="Zipcode" class="form-control" />
        <label asp-for="Country">Country: </label><input asp-for="Country" class="form-control" />
    </div>

    <br />

    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Complete Order" />
    </div>
</form>
