@page
@model Mission9_mitch921.Pages.OrderCompletedModel
@{
}

<div class="text-center">
    <h2>Your order has been successfully placed!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>